.breadcrumb {
    .breadcrumb-item {
        text-decoration: none;

        &.active {
            color: #7F949A !important;
            pointer-events: none;

        }

        &::before {
            color: #7F949A !important;
        }
    }
}

@keyframes runSquare {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}